<%- include('includes/head') %>

    <section id="container">
        <h1><%= csrfToken %></h1>
        <form action="/" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Cliente:</label>
            <input type="text" name="cliente" />
            <button> Enviar </button>
        </form>
    </section>
<%- include('includes/footer') %>